target
ideatarget
.target
bin
.cache
.cache-main
.cache-tests
.classpath
.project
.tmpBin
.factorypath
.settings
logs
.idea
/.sbtserver/
/project/.sbtserver.lock
/project/.sbtserver
/soapui.log
/soapui-errors.log
/global-groovy.log
