@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        @*<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("styleshee
        ts/main.css")">*@
        @*<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">*@

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    </head>
    <body>
        @* And here's where we render the `Html` object containing
        * the page content. *@

        @content

        @*<script src="@routes.Assets.versioned("javascripts/app.js")" type="text/javascript"></script>*@
        @*TODO temp fast solution move to a production one valuate to use the webpack play plugin *@
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/vue-router"></script>

        @*custom js*@
        @if(! ctx().args.get("profile").asInstanceOf[org.pac4j.core.profile.CommonProfile].getId().equals("anonymous") ) {
            <script type="text/javascript" src="@routes.Assets.at("js/navbar-cmp.js")"></script>
            <script type="text/javascript" src="@routes.Assets.at("js/app.js")"></script>
        }
    </body>
</html>